.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    display: inline-block;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .body{

    margin: 0;
    padding: 0;
    width: 1500px;
    
  }
  .image_1{
    width: 400px;
    height: 400px;
  }

  .wrapper_div {
    min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  }