.wrapper_div {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
}

.leaderboard_card {
  background-color: lightgrey;
  display: grid;
  padding-left: 20px;
  grid-template-columns: auto auto auto auto;
}

.card_head {
  color: red;
}
.card_num {
  color: blue;
}
.card_num ~ .card_num {
  margin-top: 25px;
}

#card_name {
  grid-area: 1/1;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}

#card_name_num {
  grid-area: 2/1;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
}

#card_rank {
  grid-area: 1/2;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}

#card_rank_num {
  grid-area: 2/2;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
}

#card_handicap {
  grid-area: 1/3;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}

#card_handicap_num {
  grid-area: 2/3;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
}

#card_score {
  grid-area: 1/4;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}

#card_score_num {
  grid-area: 2/4;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
}

#table {
  width: 100%;
  border: 1px solid;
  text-align: center;
  border-collapse: collapse;
  margin-top: 25px;
  margin-left: 50%;
  transform: translateX(-25%);
  color: white;
}

#table_head_color {
  background-color: #85c872;
  color: white;
}

#table_body {
  border: 1px solid;
}

.table_head {
  border: 1px solid;
}
